<router-outlet></router-outlet>
<div class="container">
  <h1><strong>PIPE ANGULAR 9</strong></h1>
  <div class="row">
    <div class="col">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>Variable</th>
            <th>Pipe</th>
            <th>Salida</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{nombre2}}</td>
            <td>Capitalizado Custom</td>
            <td>{{nombre2 | capitalizado: true}}</td>
          </tr>
          <!-- uppercase -->
          <tr>
            <td>{{nombre}}</td>
            <td>uppercase</td>
            <td>{{nombre | uppercase}}</td>
          </tr>
          <!-- lowercase -->
          <tr>
            <td>{{nombre}}</td>
            <td>lowercase</td>
            <td>{{nombre | lowercase}}</td>
          </tr>
            <!-- slice -->
          <tr>
            <td>{{nombre}}</td>
            <td>slice: 3</td>
            <td>{{nombre | slice:3}}</td>
          </tr>
          <tr>
            <td>{{nombre}}</td>
            <td>slice:2:5</td>
            <td>{{nombre | slice:2:5}}</td>
          </tr>
          <tr>
            <td>{{arreglo}}</td>
            <td>slice:1:6</td>
            <td>{{arreglo | slice:1:6}}</td>
          </tr>
          <tr>
            <td>{{PI}}</td>
            <td>number:'1.0-0'</td>
            <td>{{PI | number:'1.0-0'}}</td>
          </tr>
          <tr>
            <td>{{PI}}</td>
            <td>number</td>
            <td>{{PI | number}}</td>
          </tr>
          <tr>
            <td>{{PI}}</td>
            <td>number</td>
            <td>{{PI | number:'1.0-2'}}</td>
          </tr>
          <tr>
            <td>{{porcentaje}}</td>
            <td>percent</td>
            <td>{{porcentaje | percent}}</td>
          </tr>
          <tr>
            <td>{{salari}}</td>
            <td>currency: 'CLP'</td>
            <td>{{salari | currency: 'CLP'}}</td>
          </tr>
          <tr>
            <td>Objeto HERO</td>
            <td>json</td>
            <td>{{hero | json}}</td>
          </tr>
          <tr>
            <td>Promesa | async</td>
            <td>Async</td>
            <td>{{valorPromesa | json}}</td>
          </tr>
          <tr>
            <td>DATE</td>
            <td>date</td>
            <td>{{fecha | date:'dd-mm-yy'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>